:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: rgb(22, 50, 103);
  --color-dark: #0b2447;
  --color-bg: #0b3774;

  /* Fonts */
  --font-roboto: "Roboto";
}
